
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/darienhz/image/upload/v1605650766/cameron-vaughan-0AV7XLABuZk-unsplash_eylzso.jpg);">
  <div class="container">
    <h1>Get out there...</h1>
    <h2>Find your unique camping experience.</h2>
  </div>
</div>

<div class="search_box">
<%= form_tag tents_path, method: :get do %>
  <%= select_tag :state, options_for_select(['Alabama','Alaska','Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Illinois','Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota','Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire','New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'])
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>


<div class="container">
  <div class="text-center pt-2">
    <h2>Find your experience</h2>
  </div>
</div>
<div class="container">
  <div class="content-layout">
        <div class="cards">
          <% @tents.each do |tent| %>
          <%= link_to tent_path(tent) do %>
          <div class="card">
            <%= cl_image_tag(tent.photos.first.key, crop: :fill, class: "card-image") %>
            <p><%=tent.title%></p>
          </div>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
