
<div class="container">
<div class="card-trip">
  <% if not @tent.photos.empty? %>
    <%= cl_image_tag(@tent.photos.first.key, crop: :fill) %>
  <% end  %>
  <div class="card-trip-infos">
    <div>
      <h3><%= @tent.title %></h3>
      <h2><%= @tent.state %></h2>
      <p><%= @tent.description %></p>
    </div>
    <h2 class="card-trip-pricing">$<%= @tent.price %></h2>
      <% if not @tent.user.photo.nil? %>
        <%= cl_image_tag(@tent.user.photo.key, crop: :fill, width: 350, height: 350, class: "card-trip-user avatar-bordered")%>
      <% end %>
  </div>
</div>


  <div class="container booking-box">
    <% if @tent.user == current_user %>
    <div class="center">
      <%= link_to "Edit Tent Details", edit_tent_path(@tent), class: "btn btn-success" %>
      <%= link_to "Remove Listing", tent_path(@tent), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-success" %>
    </div>
    <% else %>
      <%= render "shared/new_booking_form" %>
    <% end %>
  </div>

  <div class="contiainer">
    <% if @tent.geocoded? %>
    <div id="map"
        style="width: 80%; height: 400px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <% else %>
    <div class="center"><p>There is no map avaialable for this listing. The address was not found by mapbox.</p></div>
    <% end %>
    </div>
  </div>
    