
<div class="container">
<div class="card-trip">
  <% if not @tent.photos.empty? %>
    <%= cl_image_tag(@tent.photos.first.key, width: 400, height: 300, crop: :fill) %>
  <% end  %>
  <div class="card-trip-infos">
    <div>
      <h3><%= @tent.title %></h3>
      <h2><%= @tent.state %></h2>
      <p><%= @tent.description %></p>
    </div>
    <h2 class="card-trip-pricing">$<%= @tent.price %></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

<div class="container">
<% if @tent.user == current_user %>
<%= link_to "Edit", edit_tent_path(@tent), class: "btn btn-warning" %>
<%= link_to "Remove", tent_path(@tent), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-warning" %>
<% else %>
<%= render "shared/booking_form" %>
<% end %>
</div>

<div class="contiainer">
  <div id="map"
      style="width: 100%; height: 400px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
    