<h1>Upcoming Trips</h1>
<div class="cards">
  <% @trips.each do |trip| %>
  <div class="card-category" style="background-size: cover; background-position: top; background-image: url(https://images.unsplash.com/photo-1502581424757-92098ba9a0d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=694&q=80)" >
  <p><%=link_to trip.site.title, site_path(trip.site), class: "btn" %></p>
  <p><%= trip.checkin_date.strftime("%B %d") %> to <%= trip.checkout_date.strftime("%B %d") %></p>
  <%= link_to "Edit", edit_trip_path(trip), class: "btn btn-warning" %>
  <p></p>
  <%= link_to "Remove", trip_path(trip), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-warning" %>
  </div>
  <% end %>
</div>

 <%# <% cl_image_tag(trip.site.photos.first.key) %>
