<h1>Profile</h1>
<div class="card-product mt-3 mx-5">
<% if current_user.photo.attached? %>
  <%= cl_image_tag(current_user.photo.key)%>
  <%end%>
  <div class="card-product-infos w-25">
    <h5 class="card-title"> <%= @user.username %></h5>
    <p><%= @user.email %></p>
    <div class="mt-2">
      <%= link_to "Edit", edit_user_path(current_user), class: "btn" %>
      <%= link_to "Delete Profile", user_path(current_user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn" %>
    </div>
  </div>
    <div class="quote w-50">
    </div>
</div>
