
<div class="container">
  <h3>Change the details of your site below</h3>
      <%= simple_form_for @site do |f| %>
      <%= f.input :title %>
      <%= f.input :state %>
      <%= f.input :address %>
      <%= f.input :price %>
      <%= f.input :description %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class: "btn btn-primary"%>
      <% end %>
</div>