
<div class="container">
<div class="card-trip">
  <% if not @site.photos.empty? %>
    <%= cl_image_tag(@site.photos.first.key, crop: :fill) %>
  <% end  %>
  <div class="card-trip-infos">
    <div>
      <h3><%= @site.title %></h3>
      <h2><%= @site.state %></h2>
      <p><%= @site.description %></p>
    </div>
    <h2 class="card-trip-pricing">$<%= @site.price %></h2>
      <% if not @site.user.photo.nil? %>
        <%= cl_image_tag(@site.user.photo.key, crop: :fill, width: 350, height: 350, class: "card-trip-user avatar-bordered")%>
      <% end %>
  </div>
</div>


  <div class="container booking-box">
    <% if @site.user == current_user %>
    <div class="center">
      <%= link_to "Edit Site Details", edit_site_path(@site), class: "btn btn-success" %>
      <%= link_to "Remove Site", site_path(@site), method: :delete, data: { confirm: "Are you sure? You cannot undo this action." }, class: "btn btn-success" %>
    </div>
    <% else %>
      <%= render "shared/new_trip_form" %>
    <% end %>
    <div class="comment-box">
      <form>
        <div class="form-group row">
          <label for="headline" class="col-form-label">How was it?</label>
          <input type="text" class="form-control" id="headline" name="headline" placeholder="Give your comment a juicy title">
        </div>
        <div class="form-group row">
          <label for="headline" class="col-form-label">Your Comments</label>
          <textarea class="form-control" id="comments" name="comments" rows="6" placeholder="Tell us the dirty details..."></textarea>
        </div>
      </form>
    </div>
  </div>

  <div class="container">
    <% if @site.geocoded? %>
    <div class="map"
        style="width: 80%; height: 400px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <% else %>
    <div class="map center"><p>Sorry, There's no map avaialable for this campsite. Mapbox isn't finding the coordinates.</p></div>
    <% end %>
    </div>
  </div>
    