<!DOCTYPE html>
<html>
  <head>
    <title>DIRTBAG MAP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="Site">
    <%= render 'application/favicon' %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
  <main class="Site-content"></main>
    <div class="footer">
      <div class="footer-links">
        <%# <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a> %>
        <a href="https://github.com/mcspach/campfree"><i class="fab fa-github"></i></a>
      </div>
    <div class="footer-copyright">
      <i class="far fa-copyright"></i> 2020 DirtBag Map, Inc. 
    </div>
  </div>
</html>
